nav{
    background-color:CFAE3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 3em;
    margin-left: 1em;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#A52A2A;
    transition: all 1s;
    text-shadow: 1px 1px black;

}
nav button{
    margin-right: 3em;
    padding:0.3em 1.5em;
    border-radius:1em;
    font-size: 1.5em;
    color: #FEC702;
    background-color: #A52A2A;
    border:none;
    box-shadow: 3px 4px black;
    font-weight: 500;
    transition: all 1s;

}
nav button:hover{
    color: #A52A2a;
    background-color:#FEC702 ;
    box-shadow: none;
    border: 0.5px solid #A52A2A;
}
nav .logo:hover{
    color:#FEC702;
    text-shadow: 5px 5px black;
}
